.flexbox {
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
 
    border: solid black 3px;
    width: 100%;
}

.userArea{
    height: 19vh;
}

#userList{
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    /* margin:5px; */
}
.gridItem {
        /* border: solid black 3px; */
        align-self: center;
        margin:5px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.inputBox {
    /* position: fixed; */
    /* bottom: 0;
    left: auto;
    right: auto; */
    max-width: 960px;
    margin: 5px;
}
.messageArea{
    background-color: lightblue;
    height: 70vh;
    overflow-y:scroll;
    margin-top: solid;
    margin-bottom: solid;


}


body {
    font: 13px Helvetica, Arial;
    height: 100%;
}


form input {
    border: solid black 3px;
    padding: 10px;
    width: 100%;

}



#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
    
}